{% from '_global.j2' import heading %}
{% set base_level = base_level|default(1) %}
{% set examples_num_max = examples_num_max|default(none) %}

{{ heading(title, base_level) }}

{% if schema.deprecated %}
.. warning::
   This schema is deprecated.

{% endif %}
**ID:** ``{{ schema_id }}``

{% if schema.description %}
{{ schema.description|escape_rst }}

{% endif %}
{% if schema.examples %}
{% set examples_to_show =
  schema.examples[:examples_num_max]
  if examples_num_max
  else schema.examples
%}
{{ heading('Examples', (base_level + 1)) }}

{# TODO: proper expandable layout #}
{% if examples_to_show|length < schema.examples|length %}
*(shown only {{ examples_to_show|length }} out of {{ schema.examples|length }} examples in the schema)*

{% endif %}
{% for example in examples_to_show %}
.. code-block:: json

{{ example|to_pretty_json|indent(3, true) }}

{% endfor %}
{% endif %}
