{% from '_global.j2' import heading %}
{% set base_level = base_level|default(1) %}
{% set compact = compact|default(false) %}

{{ heading(title, base_level) }}

{% if schema.deprecated %}
.. warning::
   This schema is deprecated.

{% endif %}
**ID:** ``{{ schema_id }}``

{% if schema.description %}
{# NOTE: not escaping? #}
{{ schema.description }}

{% endif %}
{% if schema.examples %}
{{ heading('Examples', (base_level + 1)) }}

.. dropdown:: Examples
{% if not compact %}
   :open:
{% endif %}

{% for example in schema.examples %}
   .. code-block:: json

{{ example|to_pretty_json|indent(6, true) }}

{% endfor %}
{% endif %}
